/.idea/.gitignore
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sonarIssues.xml
/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/.idea/sonarlint/issuestore/index.pb
/.idea/vcs.xml
/target/classes/app/App.class
/target/classes/dao/BookDAO.class
/target/classes/dao/TitleDAO.class
/target/classes/entity/Author.class
/target/classes/entity/Book.class
/target/classes/entity/EncodingType.class
/target/classes/entity/Title.class
/target/classes/entity/Volume.class
/target/classes/hibernate.cfg.xml
/target/classes/import.sql
/target/classes/log4j.properties
/target/classes/util/HibernateUtils.class
